<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
<body>
  <div class = "wrap">
  <%= button_to "All Tasklists", show_tasklist_path, method: 'get', class: 'button btn-white home-btn' %>
  <%= button_to "Create New Tasklist", new_tasklist_path, method: 'get', class: 'button btn-white home-btn' %>
  </div>
</body>
</html>