<% if @tasks_found.blank? %>
	<p> No tasks found </p>
<% else %>
	<h4>Tasks found: </h4>
	<% @tasks_found.each do |task| %>
	<div class = "row">
		<div class = "col-md-2">
			<h4><%= task.title %></h4>
		</div>
		<div class = "col-md-2">
			<h4><%= task.date %></h4>
		</div>
	</div>
	<% end %> 
<% end %>