<%= form_for(@tasklist, url: "/user/" + params[:user_id] + "/new_tasklist/") do |f| %>
	<h4><%= f.label :title%></h4>
	<%= f.text_field :title, class: 'form-control' %>
<%= f.submit "Add", class: "button  show-btn" %>
<% end %>
