<% provide(:title, "All tasks")%>
<% @user_id = params[:user_id] %>
<body>
  <%= render 'searchfield' %>
  <%= render 'tasklists' %>
    <div id = "modal_form"></div>
    <div id = "search_results_modal"></div>
</body>